*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  max-width: 100%;
}

/* Header styling
  ================================== */
header {
  padding: 1.2rem 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.829),
      rgba(13, 13, 13, 0.582),
      rgba(0, 0, 0, 0.706)
    ),
    url("../assets/img/website_medium.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  border-bottom: 8px solid #222;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 77%;
}

.logo img {
  max-width: 158px;
  height: 48px;
}

.header-content .sign-btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #e50914;
  max-width: 76.91px;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  place-items: center;
  padding: 4px 16px;
  user-select: none;
  border-radius: 0.25rem;
  white-space: nowrap;
}
.header-content .sign-btn:hover {
  background: #b8000a;
  transition-duration: 250ms;
}
/* Hero Section */
.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-section .hero-content {
  color: #ffffff;
  padding: 200px;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.8;
}

.hero-section p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8;
}

.form-control {
  margin-top: 1rem;
}
.form-control .form-headline {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}
.form-control .input-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 1.5rem;
}

.input-control input {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1.5px solid #999;
  color: #ffffff;
  outline: none;
  line-height: 1.5;
  font-size: 1.2rem;
  padding: 1.5rem 1rem 0.5rem;
  width: 368.75px;
  height: 56px;
  border-radius: 0.25rem;
}
.input-control input:focus {
  border: 2px solid #ffffff;
  transition-duration: 250ms;
}
.input-control input::placeholder {
  color: #c1c1c2;
  font-weight: 400;
  font-size: 16px;
}
.input-control .input-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e50914;
  color: #fff;
  white-space: nowrap;
  border: none;
  user-select: none;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 0.25rem;
  width: 160.94px;
  height: 56px;
}

.input-btn p {
  font-size: 1.5rem;
  font-weight: 500;
  user-select: none;
  padding-right: 0.5rem;
}
.input-btn i {
  font-size: 1.2rem;
}
/* Enjoy on your TV. styling */
.enjoy-section {
  display: flex;
  justify-content: center;
  background-color: black;
  border-bottom: 8px solid #222;
  color: #fff;
  padding: 4.5rem 0;
}
.enjoy-content {
  max-width: calc(83.33333333333334% - 6rem);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.enjoy-text h1 {
  font-size: 3rem;
  font-weight: 900;
}

.enjoy-text p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0 0;
}
.tv-container {
  padding-left: 0.375rem;
  position: relative;
  z-index: 1;
}
.tv-frame {
  position: relative;
  width: 474px;
  height: 359.5px;
}

.tv-frame img {
  width: 100%;
  height: 100%;
}

.tv-video {
  position: absolute;
  top: 21%;
  left: 13%;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  object-fit: cover;
}

/* Download your shows to watch offline. styling */

.Download-content {
  position: relative;
}

.Download-content .stranger {
  max-width: 301px;
  width: 301px;
  height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 125px;
  bottom: 26px;
  border: 2px solid #222;
  background-color: black;
  padding: 8px 12px;
  border-radius: 18px;
}
.stranger-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.stranger-content h4 {
  font-weight: 500;
  font-size: 1rem;
}
.stranger-content p {
  color: #0071eb;
  font-size: 0.875rem;
  font-weight: 400;
}

/* Watch everywhere.. section styling */
.watch-section {
  background-color: black;
  border-bottom: 8px solid #222;
  color: #fff;
  max-width: 100%;
  padding: 4.5rem 0;
}

.watch-content {
  width: 50%;
  padding-left: 16rem;
}

.watch-section h1 {
  font-size: 3rem;
  font-weight: 900;
}

.watch-section p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0 0;
}

/* Enjoy on your TV. kids section- css */
.kid-content img {
  width: 474px;
  height: 355.5px;
  border: none;
}

/* Frequently Asked Questions section styling */
.fAQ-section {
  background-color: black;
  border-bottom: 8px solid #222;
  color: #fff;
  padding: 4.5rem 0;
}
.fAQ-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: calc(83.33333333333334% - 6rem);
}
.fAQ-items {
  padding: 0;
  z-index: 1;
  width: 100%;
}
.fAQ-content h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 0.83em 0;
}
/* Style for the collapsible */
.collapsible {
  background-color: #2d2d2d;
  color: #fff;
  cursor: pointer;
  padding: 1.5rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  text-align: left;
  outline: none;
  position: relative;
  z-index: 1;
  margin-bottom: 10px; /* Add bottom margin to the collapsible */
}

.collapsible:hover {
  background-color: #3d3d3d;
}

/* Style for the collapsible content */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #2d2d2d;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  margin-top: -10px; /* Negative top margin to counteract the button's bottom margin */
  margin-bottom: 10px;
}
/* Style for the collapsible heading */
.collapsible span:nth-of-type(1) {
  font-size: 24px;
  font-weight: 400;
}

/* Style for the plus and minus icons */
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
}

.icon.plus::before {
  content: "+";
}

.icon.minus::before {
  content: "x";
}

.fAQ-section .form-control {
  text-align: center;
  margin-top: 2rem;
}

/* footer styling */
footer {
  font-size: 14px;
  height: auto;
  max-width: 100%;
  background-color: black;
  color: #777;
  padding: 60px 0;
}

.footer-content {
  width: 70%;
  margin: 0 auto;
}

footer h3 {
  margin-bottom: 1.8rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
}

footer a {
  text-decoration: none;
  color: #777;
  justify-content: center;
}

footer a:hover {
  text-decoration: underline;
}

footer .nig {
  margin-top: 1.8rem;
}

/* the styling displays when the screen width is less than or equal to 768px */
@media screen and (max-width: 768px) {
  /* header .header-content {
    width: 90%;
  } */
  .logo img {
    max-width: 98px;
    height: 28px;
  }
  .hero-section .content {
    padding: 8px;
  }
  .hero-section h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5rem;
  }
  .hero-section p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .form-control .form-headline {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .input-control {
    flex-direction: column;
  }

  .input-control input {
    width: 224px;
    height: 48px;
  }
  .input-control .input-btn {
    height: 48px;
  }
  .hero-btn p {
    font-size: 1.2rem;
  }
  .hero-btn i {
    font-size: 1rem;
  }
  .enjoy-content {
    flex-direction: column;
  }

  .tv-content img {
    width: 280px;
  }

  .enjoy-text {
    width: 100%;
  }

  .Download-content img {
    width: 300px;
    height: 260px;
  }

  .Download-content .stranger {
    width: 80%;
    top: 152px;
    left: 30px;
  }

  .watch-content {
    max-width: 80%;
    padding-left: 0;
  }

  .kid-content img {
    width: 322px;
    height: 222px;
  }

  .fAQ-content {
    max-width: 100%;
  }

  .fAQ-section {
    padding: 30px 15px;
  }

  .fAQ-item {
    font-size: 18px;
  }

  .fAQ-section h1 {
    font-size: 30px;
  }

  .fAQ-section .form-control {
    width: 80%;
  }

  footer {
    padding: 50px 28px;
  }

  .footer-content {
    width: 90%;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
  }
}
