*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    max-width: 100%;
}


/* Header styling
  ================================== */
header {
    padding: 1rem 0 8rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.829), rgba(13, 13, 13, 0.582), rgba(0, 0, 0, 0.706)), url('../img/website_medium.jpg');
    background-position: center;
    background-size: cover;

    max-width: 100%;
    border-bottom: 8px solid #222;
}

header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 92.6%;
    margin: 0 auto;
    padding: 8px 0 0;
}

.logo img {
    width: 12.8%;
}

.header-wrapper .sign-btn {
    text-decoration: none;
    color: white;
    background-color: #e50914;
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    text-align: center;
    padding: 8px;
    border-radius: 3px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 118px 0 78px;
}

.hero-section .content {
    width: 50%;
    color: #ffffff;
}

.hero-section h1 {
    font-size: 3rem;
}

.form-control {
    margin-top: 1rem;
}

.input-control {
    /* background: red; */
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
}

.input-control input {
    width: 80%;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    color: #333;
}

.input-control .hero-btn {
    background: #e50914;
    color: #fff;
    white-space: nowrap;
    padding: 1rem 2rem;
    border: none;
    display: flex;
    align-items: center;
}

.hero-btn p {
    margin-right: 1rem;
}

.enjoy-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    max-width: 100%;
    background-color: black;
    border-bottom: 8px solid #222;
    color: #fff;
    padding: 60px 35px;
}

.enjoy-text {
    width: 50%;
}

.enjoy-text h1 {
    font-size: 46px;
    font-weight: 800;
}

.enjoy-text p {
    font-size: 26px;
    font-weight: 400;
}

@keyframes tv {
    0% {
        background-image: url('../img/website_medium.jpg');
    }

    25% {
        background-image: url('../img/kid.png');
    }

    50% {
        background-image: url('../img/website_medium.jpg');
    }

    100% {
        background-image: url('../img/mobile-0819.jpg');
    }
}

.tv-content img {
    width: 480px;
    height: 350px;
    border: none;
    animation: tv 4s linear 0.1s infinite alternate both;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.Download-content img {
    width: 480px;
    height: 360px;
}

.Download-content {
    position: relative;
}

.Download-content .stranger {
    width: 54%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 248px;
    left: 111px;
    border: 2px solid #222;
    background-color: black;
    padding: 8px;
    border-radius: 18px;
}

.stranger-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
}

.stranger-text p {
    font-size: 14px;
    font-weight: 400;
    color: blue;
}

.watch-section {
    max-width: 100%;
    background-color: black;
    border-bottom: 8px solid #222;
    color: #fff;
    padding: 60px 35px;
}

.watch-content {
    max-width: 50%;
}

.watch-section h1 {
    font-size: 46px;
    font-weight: 800;
}

.watch-section p {
    font-size: 30px;
    font-weight: 400;
}

.kid-content img {
    width: 390.72px;
    height: 293.03px;
    border: none;
}

.fAQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 100%;
    background-color: black;
    border-bottom: 8px solid #222;
    color: #fff;
    padding: 60px 35px;
}

.fAQ-content {
    max-width: 50%;
}

.fAQ h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 4rem;
    max-width: 100%;
}

.fAQ-item {
    font-size: 26px;
    font-weight: 400;
    background-color: #303030;
    margin-bottom: 8px;
    padding: 0.8em 2.2em 0.8em 1.2em;
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fAQ-item span {
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-weight: lighter;
}

.fAQ .form-control {
    padding-top: 38px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header {
        height: auto;
    }

    .logo img {
        width: 40%;
    }

    .header-wrapper .sign-btn {
        width: 34rem;
    }

    .input-control {
        flex-direction: column;
    }


    .hero-section .content {
        width: 80%;
        color: #fff;
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .input-control input {
        width: 100%;
    }

    .input-control .hero-btn {
        padding: 0.6rem 1rem;
        margin-top: 1rem;
    }

    .enjoy-section {
        flex-direction: column;
    }

    .tv-content img {
        width: 280px;
    }

    .enjoy-text {
        width: 100%;
    }

    .Download-content img {
        width: 300px;
        height: 260px;
    }

    .Download-content .stranger {
        width: 80%;
        top: 152px;
        left: 30px;
    }

    .watch-content {
        max-width: 80%;
    }

    .kid-content img {
        width: 322px;
        height: 222px;
        border: none;
    }
}