*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    width: 20%;
}

/* Header styling
  ================================== */
header {
    background: transparent;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
}

header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.header-wrapper .sign-btn {
    text-decoration: none;
    color: white;
    background-color: red;
    width: 16.2rem;
    text-align: center;
    padding: 8px;
    position: relative;
    top: -2px;
}

.hero-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.829), rgba(13, 13, 13, 0.582), rgba(0, 0, 0, 0.706)), url('../img/website_medium.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section .content {
    width: 50%;
    color: #fff;
}

.hero-section h1 {
    font-size: 3rem;
}

.form-control {
    margin-top: 1rem;
}

.input-control {
    /* background: red; */
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
}

.input-control input {
    width: 80%;
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    color: #333;
}

.input-control .hero-btn {
    background: red;
    color: #fff;
    white-space: nowrap;
    padding: 0.6rem 2rem;
    border: none;
    display: flex;
    align-items: center;
}

.hero-btn p {
    margin-right: 1rem;
}

@media screen and (max-width: 768px) {
    .input-control {
        flex-direction: column;
    }


    .hero-section .content {
        width: 80%;
        color: #fff;
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .input-control input {
        width: 100%;
    }

    .input-control .hero-btn {
        padding: 0.6rem 1rem;
        margin-top: 1rem;
    }
}